.settings/
.project
.metadata
*.DS_Store
# IntelliJ Files
*.iml
.idea
matsimExamples
**/target
/log_projects.log
*.orig
matsim/docs/doxygen/html
matsim/src/main/java/Doxyfile

# VS Code files
.vscode

# ignore output directories:
output/

# ignore scenarios\MMUST\VISUM folder
scenarios/MMUST/VISUM

#ignore scenarios\MMUST network and plans folder
scenarios/MMUST/network.xml
scenarios/MMUST/plans.xml
apache-maven-3.9.6-bin.zip
output.log
.github/copilot-instructions.md
