.settings/
.project
.metadata
*.DS_Store
# IntelliJ Files
*.iml
.idea
matsimExamples
**/target
/log_projects.log
*.orig
matsim/docs/doxygen/html
matsim/src/main/java/Doxyfile

# VS Code files
.vscode

# ignore output directories:
output/

# ignore scenarios\MMUST\VISUM folder
scenarios/MMUST/VISUM

#ignore scenarios\MMUST network and plans folder
scenarios/MMUST/network*
scenarios/MMUST/plans*
scenarios/MMUST/population*
scenarios/MMUST/full_config.xml
scenarios/MMUST/output/
apache-maven-3.9.6-bin.zip
output.log
.github/copilot-instructions.md

# Ignore all jar files
*.jar
scenarios/MMUST/pt2matsim-tools/network.xml
.gitignore
scenarios/MMUST/transitSchedule.xml
scenarios/MMUST/transitVehicles.xml
scenarios/MMUST/pt2matsim-tools/ptmapping_config.xml
scenarios/MMUST/pt2matsim-tools/transitSchedule_unmapped.xml
